body {
    background-color: black;
}

hr {border: solid 1px; color: cornflowerblue;}

h1, p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0); 
    background-color: rgb(240, 248, 255, 50%);
}

ol {
    width: 360px;
    background-color:rgb(240, 248, 255, 50%)
}

.intro {
    height: 200px;
    background-image: url("https://png.pngtree.com/background/20211217/original/pngtree-note-music-logo-watercolor-background-picture-image_1589075.jpg");
    background-size: cover;
    background-position:center;
    border: solid cornflowerblue 10px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.container1 {
    margin: auto;
    width: 800px;
    color: crimson;
    background-image: url(/images/zeppelin.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
}

.container2 {
    margin: auto;
    width: 800px;
    color: rgb(238, 255, 0);
    background-image: url(/images/teskey.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
}


.container3 {
    margin: auto;
    width: 800px;
    color: rgb(61, 110, 255);
    background-image: url(/images/sinatra.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
}

.container4 {
    margin: auto;
    width: 800px;
    color: rgb(255, 136, 0);
    background-image: url(/images/otis.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
}

.container5 {
    margin: auto;
    width: 800px;
    color: rgb(0, 255, 17);
    background-image: url(/images/allen.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
}

@media all and (max-width: 500px){

body {margin: auto}

    a{color: aliceblue;}
    
.container1, .container2, .container3, .container4, .container5 {
    background-image: none;
    justify-content: left;
    margin: auto;
    width: 400px;
}


.ol1 {
    width: 380px;
    background-image: url(/images/zeppelin.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.ol2 {
    width: 380px;
    background-image: url(/images/teskey.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.ol3 {
    width: 380px;
    background-image: url(/images/sinatra.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.ol4 {
    width: 380px;
    background-image: url(/images/otis.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.ol5 {
    width: 380px;
    background-image: url(/images/allen.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
}



}